In [1]:
import joblib
import yaml

from churn_library import *

In [2]:
import os
os.environ['QT_QPA_PLATFORM']='offscreen'

In [3]:
# load config file
with open("config.yaml", "r") as stream:
    config = yaml.safe_load(stream)
    
cpl = ChurnPipeline(r"./data/bank_data.csv", config)

(10127, 23)
Unnamed: 0                  0
CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
Churn                       0
dtype: int64
         Unnamed: 0     CLIENTNUM  Customer_Age  Dependent_count  \
count  10127.000000  1.012700e+04  10127.000000     10127.000000
mean    5063.000000  7.391776e+08     46.325960         2.346203
std     2923.557422  3.690378e+07      8.016814         1.298908
min        0.000000  7.080821e+08     26.000000         0.000000
25%     2531.500000  7.130368e+08     41.000000         1.000000
50%     5063.000000  7.179264e+08     46.000000         2.000000
75%     7594.500000  7.731435e+08     52.000000         3.000000
max    10126.000000  8.283431e+08     73.000000         5.000000

       Months_on_book  Total_Relationship_Count  Months_Inactive_12_mon  \
count    10127.000000              10127.000000            10127.000000
mean        35.928409                  3.812580                2.341167
std          7.986416                  1.554408                1.010622
min         13.000000                  1.000000                0.000000
25%         31.000000                  3.000000                2.000000
50%         36.000000                  4.000000                2.000000
75%         40.000000                  5.000000                3.000000
max         56.000000                  6.000000                6.000000

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
count           10127.000000  10127.000000         10127.000000
mean                2.455317   8631.953698          1162.814061
std                 1.106225   9088.776650           814.987335
min                 0.000000   1438.300000             0.000000
25%                 2.000000   2555.000000           359.000000
50%                 2.000000   4549.000000          1276.000000
75%                 3.000000  11067.500000          1784.000000
max                 6.000000  34516.000000          2517.000000

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
count     10127.000000          10127.000000     10127.000000    10127.000000
mean       7469.139637              0.759941      4404.086304       64.858695
std        9090.685324              0.219207      3397.129254       23.472570
min           3.000000              0.000000       510.000000       10.000000
25%        1324.500000              0.631000      2155.500000       45.000000
50%        3474.000000              0.736000      3899.000000       67.000000
75%        9859.000000              0.859000      4741.000000       81.000000
max       34516.000000              3.397000     18484.000000      139.000000

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio         Churn
count         10127.000000           10127.000000  10127.000000
mean              0.712222               0.274894      0.160660
std               0.238086               0.275691      0.367235
min               0.000000               0.000000      0.000000
25%               0.582000               0.023000      0.000000
50%               0.702000               0.176000      0.000000
75%               0.818000               0.503000      0.000000
max               3.714000               0.999000      1.000000

In [4]:
cpl.df.head()

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Churn,Gender_Churn,Education_Level_Churn,Marital_Status_Churn,Income_Category_Churn,Card_Category_Churn
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,1144,42,1.625,0.061,0,0.146152,0.152012,0.151269,0.134807,0.160979
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,...,1291,33,3.714,0.105,0,0.173572,0.155691,0.169414,0.171862,0.160979
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,...,1887,20,2.333,0.000,0,0.146152,0.155691,0.151269,0.157655,0.160979
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,...,1171,20,2.333,0.760,0,0.173572,0.152012,0.172230,0.171862,0.160979
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,...,816,28,2.500,0.000,0,0.146152,0.159381,0.151269,0.134807,0.160979

## Models results

In [5]:
cpl.plot_roc_curves()

In [ ]:
cpl.feature_importance_plot()

In [ ]:
cpl.classification_report_image()